---
layout: default
---
<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
<!-- {% if site.disqus-id %} {% include comments.html %} {% endif %} -->

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 

<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: `0b31086503146e4bcfe2`,
      clientSecret: `b5cf1221602496dc00b115a71f856468039e4c4a`,
      repo: `blog-comments`,
      owner: 'leezh76',
      admin: ['leezh76'],
      id: md5(location.pathname),
    });
      gitalk.render('gitalk-container');
</script>